<div class="site-footer">
    <nav class="social-links">
        <a class="youtube" href="https://youtube.com/c/code2020"></a>
        <a class="twitter" href="https://twitter.com/search?f=live&q=(%23code2020)%20(from%3Amattbierner)"></a>
        <a class="rss" href="/feed.xml"></a>
    </nav>

    <nav>
        <a href="https://github.com/mattbierner/code2020/issues/new?assignees=&labels=&template=suggest-a-tip.md&title=%5Btip%5D">Suggest a Tip</a>
    </nav>
    
    <p id="copyright">&copy; 2022 <a href="https://mattbierner.com">Matt Bierner</a></p>
</div>