---
layout: default
---

{% include index_header.html %}

<div class="main-body">

    {{ content }}

    <div class="site-links">
        <nav>
            <a href="/about">About</a>
            <a href="/#body">Latest Tips</a>
            <a href="https://www.youtube.com/playlist?list=PLvKOuwv1u7bFsBC2ONDLk9LfDHklSW6xR">Code 0 to 20</a>
        </nav>
        <nav class="social-links">
            <a class="youtube" href="https://youtube.com/c/code2020"></a>
            <a class="twitter" href="https://twitter.com/search?f=live&q=(%23code2020)%20(from%3Amattbierner)"></a>
            <a class="rss" href="/feed.xml"></a>
        </nav>
    </div>

    <div class="site-tags">
        <h1>Featured</h1>
        <nav class="featured-tags">
            <a class="featured-tag" href="/tag/extensions">Extensions</a>
            <a class="featured-tag" href="/tag/settings">Settings</a>
            <a class="featured-tag" href="/tag/JavaScript">JavaScript</a>
        </nav>

        <h1>All Tags</h1>
        <nav>
            {% for tag in site.tags %}
                <a class="tag" href="/tag/{{ tag[0] | slugify }}">{{ tag[0] }}</a>
            {% endfor %}
        </nav>
    </div>
</div>

{% include site_footer.html %}
