---
layout: main
className: tag-page
---

<div class="content post-list">
    <h1>#{{ page.tag }}</h1>
    <div role="main" class="posts">
        {% for tag in site.tags %}
            {% assign slugtag1 = page.tag | slugify %}
            {% assign slugtag2 = tag[0] | slugify %}

            {% if slugtag1 == slugtag2 %}
                {% for post in tag[1] %}
                    {% include post_index.html %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
</div>
